<div class="calendar">
  <div class="calendar-header">
    <button (click)="prev()">Previous</button>
    <span>{{ currentView }}</span>
    <button (click)="next()">Next</button>

    <div class="view-options">
      <button (click)="setView('day')">Day</button>
      <button (click)="setView('week')">Week</button>
      <button (click)="setView('dayGridMonth')">Month</button>
    </div>
  </div>

  <div class="calendar-body">
    <ng-container *ngIf="currentView === 'dayGridMonth'">
      <div class="calendar-grid">
        <div *ngFor="let day of monthDays">
          <div
            [ngClass]="{
              'low-opacity': !day.isCurrent,
              today: day.date === today
            }"
            (click)="onClickDate(day)"
          >
            {{ day.date }}

            <span *ngFor="let event of day.events; let i = index" class="event">
              <button
                *ngIf="day.date && !event.isAllDay"
                (click)="onClickEvent(event)"
                [ngClass]="{
                  'event-button': !event.isAllDay
                }"
                [style.margin-top]="
                  !event.isAllDay && day.events[i - 1].isAllDay ? '25px' : '0px'
                "
              >
                {{ event.title }}
              </button>
              <button
                *ngIf="day.date && event.isAllDay && !event.isStart"
                [ngClass]="{
                  'allday-secondary-button': true
                }"
                [style.width]="150 + 'px'"
              >
                {{ event.title }}
              </button>
              <button
                *ngIf="day.date && event.isAllDay && event.isStart"
                (click)="onClickEvent(event)"
                [ngClass]="{
                  'allday-button': event.isAllDay
                }"
                [style.width]="event.width + 'px'"
              >
                {{ event.title }}
              </button>
            </span>
          </div>
        </div>
      </div>
    </ng-container>

    <ng-container *ngIf="currentView === 'week'">
      <div class="week-grid">
        <!-- <div *ngFor="let day of weekDays">{{ day.date }}</div> -->
        <div>
          <div></div>
          <div *ngFor="let time of weekViewTimes">{{ time }}</div>
        </div>

        <div *ngFor="let day of monthDays">
          <div
            [ngClass]="{
              'low-opacity': !day.isCurrent,
              today: day.date === today
            }"
          >
            {{ day.date }}
          </div>
          <div *ngFor="let time of weekViewTimes; let i = index">
            <span *ngFor="let event of day.events" class="event">
              <button
                *ngIf="
                  (day.date && i + 2 === event.start24) ||
                  (i === 0 && event.start24 === 0)
                "
                (click)="onClickEvent(event)"
                [style.height]="event.height + 'px'"
              >
                {{ event.title }}
                <!-- {{ event.date }} -->
              </button>
            </span>
          </div>
        </div>
      </div>
    </ng-container>

    <ng-container *ngIf="currentView === 'day'">
      <div class="day-grid">
        <div>
          <div></div>
          <div *ngFor="let time of weekViewTimes">{{ time }}</div>
        </div>

        <div *ngFor="let day of monthDays">
          <div
            [ngClass]="{
              'low-opacity': !day.isCurrent,
              today: day.date === today
            }"
          >
            {{ day.date }}
          </div>
          <div *ngFor="let time of weekViewTimes; let i = index">
            <span *ngFor="let event of day.events" class="event">
              <button
                *ngIf="
                  (day.date && i + 2 === event.start24) ||
                  (i === 0 && event.start24 === 0)
                "
                (click)="onClickEvent(event)"
                [style.height]="event.height + 'px'"
              >
                {{ event.title }}
                <!-- {{ event.date }} -->
              </button>
            </span>
          </div>
        </div>
      </div>
    </ng-container>
  </div>
</div>
